# игнорируем модули
/node_modules/

# игнорируем сборку проекта
# "чтобы при выкатке проекта сборка гарантированно была свежей (ведь если сборки нет в репозитории, ее надо собрать)" (c) преп.
/static/build/