@import '_variables.scss';

.chat-window{
    width: $width-chat;
    height: 99vh;
    margin: auto;
    background: antiquewhite;
  
    header{
      padding: 10px;
      
      display: flex;
      align-items: center;
  
      background-color: darkslategray;
      color: white;
    
      h1{
        margin: 0;
        padding: 10px;
  
      }
    }

    main{
      display: flex;
      flex-direction: column;
    }
  
    footer{
      display: flex;

      position: fixed;
      bottom: 0;

      textarea{
        resize: none;

        width: $width-chat - $width-send - 6px;
        height: $height-send - 6px;
      }

      button{
        width: $width-send;
        height: $height-send;
      }

      .placeholder{
        display: none;
        opacity: .8;

        width: $width-placeholder;
        padding: 10px;

        position: absolute;
        bottom: 10px;
        right: -$width-placeholder;

        border: 1px solid darkgrey;
        background-color: lightgoldenrodyellow;

        font-family: Arial, Helvetica, sans-serif;

        &.placeholder_show{
          display: block;
        }
      }
    }
  }