@import '_variables.scss';

.message {
    width: $width-chat/2;

    margin: 5px;
    padding: 10px;
    
    border-radius: 10px 10px 5px;

    background-color: white;

    header{
        padding: 0;
        background: none;

        .author{
            color: darkblue;
            padding-right: 15px;
        }

        .time{
            color: gray;
        }
    }
}

.me{
    align-self: flex-end;

}