body {
  font-family: 'Comic Sans MS', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


.chat-window{
  width: 600px;
  height: 99vh;
  margin: auto;

  header{
    padding: 10px;
    
    display: flex;
    align-items: center;

    background-color: darkslategray;
    color: white;
  
    h1{
      margin: 0;
      padding: 10px;

    }
  }

  footer{
    position: fixed;
    bottom: 0;
  }
}